<!DOCTYPE html>
<html lang="vi">

<head>
    <%- include('masterPage/head.ejs'); -%>
    <link rel="stylesheet" href="css/gomoku.css">
    <script defer src="js/processGomokuOnline.js"></script>
    <script defer src="js/listTableGomokuOnline.js"></script>
    <script defer src="js/event.js"></script>
    <script defer src="js/messageEvent.js"></script>
    <title>Game Caro Online - 97</title>
</head>

<body>
    <!--loading-->
    <div class="loader"></div>
    <!-- navbar  -->
    <%- include('masterPage/narbar.ejs'); -%>

    <div class="container-fluid screen-container">
        <div class="row">
            <!-- navigation  -->
            <%- include('masterPage/navigation.ejs'); -%>
            <main id="main-list-room" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 row my-main">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 col-md-12">
                    <h1 class="h2 center-block">Danh sách các bàn</h1>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <!-- loop bàn chờ -->
                        <% for(var i=1; i < 13; i++) { %>
                        <div id="my-div-table-id-<%= i %>" class="col-lg-3 col-xs-6 my-tables border-left-grey">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <p id="id-ban-<%= i %>-p" class="my-table-name-p">Bàn <%= i %></p>
                                </div>
                                <div class="icon">
                                    <img id="table-<%= i %>-img" class="table-image"
                                        src="../images/tables/table-0.png" />
                                </div>
                            </div>
                        </div>
                        <% } %>

                    </div>
                </div>
            </main>
            <main id="main-room" style="display: none;" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 row">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 col-md-12">
                    <h1 class="h2 center-block title-GO">Cờ Caro Online</h1>
                    <h3>
                </div>
                <div class="col-sm-12">
                    <div id="khung-ban-co-1" class="align-items-center pb-2 mb-3 khung-ban-co">
                    </div>
                    <h3 class="notice-result"></h3>
                    <div class="div-option">
                        <div style="width: 100%;height: 37px;">
                            <button id="btn-leave-room-gomoku-online" type="button" class="btn btn-danger btn-leave">Rời
                                phòng</button>
                            <button id="btn-ready-gomoku-online" type="button"
                                class="unready btn btn-success btn-play">Sẵn sàng</button>
                        </div>
                        <div style="width: 100%;height: 31px;">
                            <p class="p-player-status">Đang chờ đối thủ </p>
                        </div>
                        <div id="div-player">
                            <div id="div-list-player"></div>
                            <div id="div-convers-player">
                                <div id="div-mess-player">
                                </div>
                                <div id="div-input-mess-player">
                                    <input type="text" id="input-mess" placeholder="Nhập tin nhắn.."
                                        aria-label="Text input">
                                    <button id="btn-send-mess"><i class="fa fa-paper-plane" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>
    </div>

</body>

</html>